.players-container {
  margin: 20px;
}

.player-first {
}

.player-second {
  text-align: right;
  float: right;
}

.move {
  text-decoration: underline;
}

.field-container {
  margin-top: 30px;

  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.game-field {
  /* margin: auto;
  width: 60%; */

  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 80px;
  margin-top: 20px;
}

.game-square {
  /* float:left;
  position: relative;
  width: 30%;
  padding-bottom : 30%;
  margin: 1.66%;
  background-color: lightgrey; */

  width: 40%;
  height: 100%;
  background-color: lightgrey;
  margin: 1.66%;
}

.cross{
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("https://image.flaticon.com/icons/svg/579/579006.svg");
}

.null {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("https://image.flaticon.com/icons/svg/390/390933.svg");
}

.timer-game {
  margin-top: 10px;
  text-align: center;
}

.exit-button {
  display: block;
  margin-top: 50px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
