.all-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.all-square {
  margin: 4px;
  background-color: deepskyblue;
  width: 19%;
  padding: 5px;
  text-align: center;
}

.playing {
  background-color: skyblue;
}

.done {
  background-color: powderblue;
}

.player_first {
  border-bottom-style: groove ;
  color: white;
}

.player_second {
  color: white;
}

.winner {
  color: deepskyblue;
}

.time {
  float: right;
}
