.all-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.all-square {
  margin: 4px;
  background-color: deepskyblue;
  width: 19%;
  padding: 5px;
  text-align: center;
}

.playing {
  background-color: skyblue;
}

.done {
  background-color: powderblue;
}

.player_first {
  border-bottom-style: groove ;
  color: white;
}

.player_second {
  color: white;
}

.winner {
  color: deepskyblue;
}

.timer-list {
  font-size: 11px;
  color: white;
  float: right;
}

.input_container {
  padding-top: 20px;
  margin: auto;
  width: 80%;
}

.input_name {
  margin-right: 30px;
}
.input_button {
  border-radius: 15px;
  background-color: skyblue;
  color: white;
  float: right;
}
