/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header{
  background-color: skyblue;
  padding: 1em;
  text-align: center;
  color: white;
  font-weight: bold;

}
.all-list {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  height: 500px;
}

.all-square {
  margin: 4px;
  background-color: deepskyblue;
  width: 19%;
  padding: 5px;
  text-align: center;
}
.playing {
  background-color: skyblue;
}
.done {
  background-color: powderblue;
}
/* .all-square-done {
  margin: 4px;
  background-color: lightgreen;
  width: 20%;
  padding: 5px;
  text-align: center;
}

.all-square-playing{
  margin: 4px;
  background-color: lightgrey;
  width: 20%;
  padding: 5px;
  text-align: center;
} */

.game-field {
  margin: auto;
  width: 60%;
}

.game-square {
  float:left;
  position: relative;
  width: 30%;
  padding-bottom : 30%;
  margin: 1.66%;
  background-color: lightgrey;
}

.cross{
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("https://image.flaticon.com/icons/svg/579/579006.svg");
}

.null {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("https://image.flaticon.com/icons/svg/390/390933.svg");
}

.player-second {
  float: right;
}
.timer{
  margin-top: 10px;
  text-align: center;
}
.field-block {
  display: flex;
}
